{% extends 'admin_dashboard/base_admin.html' %}

{% block admin_content %}
<div class="container">
    <h2>All Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>${{ product.price }}</td>
                <td>
                    <a href="{% url 'products:product_detail' product.slug %}" class="btn btn-info">View</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No products available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}