{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Indoor Plant Store{% endblock %}</title>
    
    <!-- Core Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}">
    
    
    <!-- Page-Specific Styles -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Include Header -->
    {% include 'partials/header.html' %}

    <!-- Main Content -->
    <main class="custom-container mt-4">  <!-- Changed from container to custom-container -->
        {% block content %}
        {% endblock %}
    </main>

    <!-- Include Footer -->
    {% include 'partials/footer.html' %}

    <!-- JavaScript Files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Page-Specific Scripts -->
    {% block extra_js %}{% endblock %}
</body>
</html>